<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create A Map</title>
    <meta name="description" content="you wanna go to the bathroom?">
    <meta name="author" content="MMA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <style>
        #createmap {margin-top: 2.5%; height: 15px;}
        .createmapcontainer div {text-align: center;}
        .createmapcontainer header {text-align: center;}
    </style>
</head>

<body>

    <nav>
        <header>G2G</header>
        <a href="#mapscontainer">Maps</a>
        <a href="#">Create Map</a>
        <a href="#">My profile</a>
        <a href="#">Login</a>
        <a href="#">Logout</a>
    </nav>

    <main class="createmapcontainer">
        <header> 
            <h2 class="pickcity">Pick a City to Create your Map</h2>
        </header>
        <div>
            <img class="map" src="http://placekitten.com/408/287" alt="">
            <div> <input id="createmap" type="submit" class="btn btn-primary" value="Create Map"> </div>
        </div>
    </main>

</body>

</html>