<!DOCTYPE html>
<html>
<head>
  <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create A Map</title>
    <meta name="description" content="you wanna go to the bathroom?">
    <meta name="author" content="MMA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="styles/layout.css" type="text/css" />

     <script type="text/javascript" src="/scripts/app.js"></script>
    <!--  <script type="text/javascript" src="/scripts/app.js"></script> -->


</head>

<body>

    <nav>
        <header>G2G</header>
        <a href="#mapscontainer">Maps</a>
        <a href="#">Create Map</a>
        <a href="#">My profile</a>
        <a href="#">Login</a>
        <a href="#">Logout</a>
    </nav>

    <main class="createmapcontainer">
        <header>
            <h2 class="pickcity">Pick a city and tell us about your map:</h2>
        </header>

        <div id="showmap">

          <div id="map"></div>
          <p>Click on the map to add markers.</p>



          <p>
            </p>
              <form id="submitForm" action="/create" method="post">
               <div>
                 Map Title:<br>
            <input type="text" id="title" name='title' placeholder="Enter map name here"><br>

              Description:<br>
            <input type="text" id="description" name='description' placeholder="Enter description here"><br>


            <input type="text" id="Longitude" name='long' placeholder= "Longitude"><br>


            <input type="text" id="Latitude" name='lat' placeholder= "Latitude"><br>


            <input type="submit" value="Submit">
               </div>
             </form>


        </div>
    </main>



   <!--   <form id="mapName" action="/create" method="post">
         <div>
           Map Title:<br>
      <input type="text" id="title" name= "title" placeholder="Enter map name here"><br>
      <button type="submit">Create Map</button>
         </div>
       </form> -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY_vuhzmSgKE3XRutXaWk2MUstXdnrKZY&callback=initMap">
    </script>

</body>

</html>
