<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Profile Page</title>
  <meta name="description" content="you wanna go to the bathroom?">
  <meta name="author" content="MMA">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/individualmap.js"></script>

  <style>
    #Map {
      float: left;
      margin: 2em;
    }
  </style>
</head>

<body>

  <nav>
    <header>Name of Site</header>
    <a href="#mapscontainer">Maps</a>
    <a href="#">Create Map</a>
    <a href="#">My profile</a>
    <a href="#">Login</a>
    <a href="#">Logout</a>
  </nav>

  <!-- <main>
    <div id="Map">
      <img src=http://placekitten.com/408/287 alt"">
    </div>
    <section id="MapInfo">
      <header>
        <h1>Best Bathroom's Toronto</h1>
      </header>
      <span>Rockin' Johnny's Diner has the best bathrooms. 3 ply toilet paper. Heated seats. The works!</span>
      <article>
        RATING: 5 STARS!
      </article>
    </section>


  </main> -->

  <main class="createmapcontainer">
    <header>
      <h2 class="pickcity">First, name your map:</h2>
    </header>

    <form id="mapName" action="#" method="post">
      <div>
        Map Title:<br>
        <input type="text" id="title" placeholder="Enter map name here"><br>
        <button type="submit">Create Map</button>
      </div>
    </form>

    <div id="showmap">
      <div id="floating-panel">
        <input onclick="clearMarkers();" type=button value="Hide Markers">
        <input onclick="showMarkers();" type=button value="Show All Markers">
        <input onclick="deleteMarkers();" type=button value="Delete Markers">
      </div>
      <div id="map"></div>
      <p>Click on the map to add markers.</p>



      <p>
      </p>
      <form id="submitForm" action="#" method="post">
        <div>
          Location Title:<br>
          <input type="text" id="title" value="Australia"><br>

          Description:<br>
          <input type="text" id="description" value="Enter description here"><br>

          Rating:<br>
          <input type="text" id="rating" value="On a scale of 1-5"><br>

          <input type="submit" value="Submit">
        </div>
      </form>


    </div>
  </main>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY_vuhzmSgKE3XRutXaWk2MUstXdnrKZY&callback=initMap">
    </script>


</body>

</html>